@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazirmatn-Medium.woff2") format("woff2"),
    url("../fonts/Vazirmatn-Medium.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: "Vazir";
  text-align: center;
  color: #0c0642;
  font-size: 50px;
  font-weight: 600;
  margin-top: 100px;
}
form {
  font-family: "Vazir";
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
input[type="number"] {
  font-family: "Vazir";
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
  outline: none;
}
select {
  font-family: "Vazir";
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
  outline: none;
}
button {
  font-family: "Vazir";
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #45a049;
}
p {
  font-family: "Vazir";
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
